@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}



/* -----masthead code------ */

.masthead {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 30px;
}

.masthead img {
width: 20px;
height: 20px;

}

.masthead h1 {
font-weight: 200;
padding-right: 10px;
}

.mastheadbrowse {
    display: flex;
    align-items: flex-start;
    padding: 0 10px;
    left: 310px;
    height: 75px;
}

.mastdropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    height: 60px;
    width: 250px;
    background-color: white;
    border-radius: 2px;
    }

.mastdropdown h3 {
    font-weight: 100;
}

.mastheadinsp {
    

}

.inspireme {
    color: white;
    background-color: rgba(15, 193, 199, 0.815);
    width: 100px;
    height: 60px;
    font-size: 15px;
    font-weight: 200;
    border: none;
    border-radius: 2px;
}

/* --------'Music' banner here------- */

.musicheader {

display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 25pc;
gap: 20px;
}

.musicheader h1{
    font-weight: 200;
    
}

.musicarrow {
    color: darkgrey;
}

.musicline {
    width: 3%;
    height: 2px;
    border: none;
    margin-left: 400px;
    background-color: rgba(15, 193, 199, 0.815);
}


/* -----artist pic,name code------- */

.artistpics {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.artistpics img {
    height: 230px;
    width: 230px;
}

.groupname {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
    font-weight: 400;
    }

.groupname p {
    padding: 10px;
}


.border1 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

.border2 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

    .border3 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

    .border4 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }


/* ------Mailing list Code here --------- */

.mailinglist {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 30px;
   
}

.mailinglist h3 {
    background-color: white;
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight: 200;
}

#heart {
    color: rgba(15, 193, 199, 0.815);
    background-color: white;
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
}

#blurb {
    color: black;
    background-color: white;
    height: 100%;
    width: 500px;
}

#mailbutton {
    color: white;
    background-color: rgba(15, 193, 199, 0.815);
    border: none;
    right: 60px;
    height: 100%;
    width: 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}



/* ----- Events header/ arrow / margin here ------- */


.eventsheader {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24pc;
    gap: 20px;
    }
    
    .eventstext h1{
        font-weight: 200;
        
    }
    
    .eventsarrow {
        color: darkgrey;
    }

    
    .eventsline {
        width: 3%;
        height: 2px;
        border: none;
        margin-left: 385px;
        background-color: rgba(15, 193, 199, 0.815);
    }


/* -------Events pic, name code here------------ */

.eventspics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.eventspics img {
    height: 230px;
    width: 230px;
}

.eventname {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: 400;
    font-size: 20px;
}

.eventname p {
    padding: 10px;
}


.event1 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

.event2 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

.event3 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

.event4 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

/* -----festivals header / arrow / margin here ------- */


.festheader {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24pc;
    gap: 20px;
    }
    
    .festtext h1{
        font-weight: 200;
        
    }
    
    .festarrow {
        color: darkgrey;
    }

    .festline {
        width: 3%;
        height: 2px;
        border: none;
        margin-left: 385px;
        background-color: rgba(15, 193, 199, 0.815);
    }



/* ----- Festivals header/ arrow / margin here ------- */

.festpics {
display: flex;
justify-content: center;
gap: 40px;
}

.festpics img {
    height: 230px;
    width: 230px;
}

.festname {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: 400;
    font-size: 20px;
}

.festname p {
    padding: 10px;
}

.fest1 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

.fest2 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;

    border-radius: 8px;
    }

.fest3 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

.fest4 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

/* ------comedy header / arrow / margin here -------*/



.comheader {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24pc;
    gap: 20px;
    }
    
    .comtext h1{
        font-weight: 200;
        
    }
    
    .comarrow {
        color: darkgrey;
    }


    .comline {
        width: 3%;
        height: 2px;
        border: none;
        margin-left: 385px;
        background-color: rgba(15, 193, 199, 0.815);
    }

/* ------comedy pics / text here -------*/

.comedypics {
    display: flex;
    justify-content: center;
    gap: 40px;
    }

.comedypics img {
    height: 230px;
    width: 230px;
    }


.comname {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: 400;
    font-size: 20px;
}

.comname p {
    padding: 10px;
}

.comedy1 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

.comedy2 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

.comedy3 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }

.comedy4 {
    width: 230px;
    height: 160px;
    background-color: white;
    border: 10px, solid black;
    border-radius: 8px;
    }



/* ----------movable button here------------ */

.scrollnav{
display: flex;
justify-content: flex-end;
padding-right: 50px;

}


.navtool {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
    background-color: rgba(15, 193, 199, 0.815);
    border: none;
    font-size: 30px;
    height: 65px;
    width: 65px;
    border-radius: 100%;
}

    img {
        border-radius: 8px;
    }

    .border {
        border-radius: 8px;
    }

    p:hover {
        color: rgba(15, 193, 199, 0.815) 
    
    }
    
    





    