<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

.font-family: 'Roboto', sans-serif;



.flexbox-item {
   
  
}

.masthead{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 10px 60px ;
}

.masthead div{
}

.masthead-browse {   
    font-size: 22px;
}

button {
    color: white;
    background-color: rgba(15, 193, 199, 0.815);
    padding: 25px;
    font-size: 12px;
    display: inline-block;
}

.artistbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.groupname {
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 200px;
    

}


/* ------Mailing list Code here --------- */



/* ----- Events header/ arrow / margin here ------- */

.events {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.eventname {
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 200px;

}

/* -----festivals header / arrow / margin here ------- */

.fest {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.festname {
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;

}

/* ------comedy header / arrow / margin here -------*/

.comedy {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.comname {
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 200px;
}


.button {
    background-color:c rgba(15, 193, 199, 0.815);
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 30px 30px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    }

    img {
        border-radius: 8px;
    }

    p {
        background-color: white;
        border-radius: 8px;
    }